<h1>Hi <%= @user.first_name %>, Your Event detail has been Changed!</h1>
=============================================== <br/>

Event Details: <br/>
-------------------------- <br/>

Booking ID: <%= @booking.id %><br/>
Event Name: <%= @booking.ticket.event.name %><br/>
Event Address: <%= @booking.ticket.event.name %><br/>
Event Date: <%= @booking.ticket.event.date %><br/>
